[submodule "Pymacs"]
	path = Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "vimpulse"]
	path = vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/philjackson/magit.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "vendor/vimpulse"]
	path = vendor/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "vendor/color-theme"]
	path = vendor/color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:milkypostman/milkyasnippets.git
[submodule "vendor/python.el"]
	path = vendor/python.el
	url = https://github.com/fgallina/python.el.git
[submodule "vendor/virtualenv.el"]
	path = vendor/virtualenv.el
	url = https://github.com/aculich/virtualenv.el.git
[submodule "vendor/Pymacs"]
	path = vendor/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = https://github.com/dbrock/zenburn-el.git
