[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "elisp/color-theme"]
	path = elisp/color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "elisp/cssh"]
	path = elisp/cssh
	url = https://github.com/dimitri/cssh.git
[submodule "elisp/fringemark"]
	path = elisp/fringemark
	url = git@github.com:milkypostman/fringemark.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/philjackson/magit.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "elisp/pymacs"]
	path = elisp/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "elisp/python"]
	path = elisp/python
	url = https://github.com/fgallina/python.el.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:milkypostman/milkyasnippets.git
[submodule "elisp/vimpulse"]
	path = elisp/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "elisp/gist"]
	path = elisp/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "elisp/ess"]
	path = elisp/ess
	url = https://github.com/emacsmirror/ess
[submodule "elisp/python-mode"]
	path = elisp/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "elisp/clojure-mode"]
	path = elisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = https://github.com/technomancy/slime.git
[submodule "elisp/full-ack"]
	path = elisp/full-ack
	url = https://github.com/nschum/full-ack
[submodule "elisp/haskell-mode"]
	path = elisp/haskell-mode
	url = https://github.com/emacsmirror/haskell-mode.git
[submodule "elisp/paredit"]
	path = elisp/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "elisp/wrap-region"]
	path = elisp/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule "elisp/git-commit-mode"]
	path = elisp/git-commit-mode
	url = https://github.com/rafl/git-commit-mode.git
[submodule "elisp/ruby-electric"]
	path = elisp/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule "elisp/idomenu"]
	path = elisp/idomenu
	url = https://github.com/emacsmirror/idomenu.git
[submodule "elisp/misc-cmds"]
	path = elisp/misc-cmds
	url = https://github.com/emacsmirror/misc-cmds.git
[submodule "elisp/header2"]
	path = elisp/header2
	url = https://github.com/emacsmirror/header2.git
[submodule "elisp/flymake-cursor"]
	path = elisp/flymake-cursor
	url = https://github.com/emacsmirror/flymake-cursor.git
[submodule "elisp/multi-term"]
	path = elisp/multi-term
	url = https://github.com/emacsmirror/multi-term.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = git@github.com:milkypostman/emacs-color-theme-solarized.git
[submodule "elisp/rainbow-delimiters"]
	path = elisp/rainbow-delimiters
	url = https://github.com/emacsmirror/rainbow-delimiters.git
[submodule "elisp/textmate"]
	path = elisp/textmate
	url = https://github.com/defunkt/textmate.el.git
