/swank
/tramp
/elpa
/eshell
/places
/url
/autosave
/backups
/bookmarks
/auto-save-list
/.savehist
/history
/pkgbuild/working
/pkgbuild/epkgs
/pkgbuild/archives
/.smex-items
/elisp
/local.el
/package.el
*.~undo-tree~
/ac-comphist.dat
/var/pcache/gh/gh-gist-api/milkypostman
